<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> History </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="recentactivity">
    <h4>Recent History</h4>
  </div>

  <ion-searchbar
    [debounce]="1000"
    (ionChange)="handleChange($event)"
    [disabled]="disabled"
    placeholder="Search Description"
  ></ion-searchbar>

  <ion-item class="combobox">
    <!-- tambahin ionChange buat taruh function getHistory-->
    <ion-select
      (ionChange)="getHistory()"
      [(ngModel)]="combobox"
      placeholder="Select"
    >
      <ion-select-option value="skripsi">Skripsi</ion-select-option>
      <ion-select-option value="proposal">Proposal</ion-select-option>
    </ion-select>
    <ion-icon name="list-outline" slot="end" size="small"></ion-icon>
  </ion-item>

  <div *ngFor="let i of results">
    <ion-item (click)="setOpen(true, i.kd_capture)">
      <ion-icon name="person-circle-outline" slot="start"></ion-icon>
      <ion-label>
        <div class="atas">
          <h5>{{ i.npm }}</h5>
          <p><b>{{ i.dentry }}</b></p>
        </div>

        <p><b> {{ i.keterangan }}</b></p>
      </ion-label>
    </ion-item>
  </div>
</ion-content>

<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Detail History</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false, null)">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="detail">
        <ion-card>
          <ion-label>Dentry</ion-label>
          <p>{{modalData.dentry}}</p>
        </ion-card>
        <ion-card>
          <ion-label>Year Academic</ion-label>
          <p>{{modalData.thn_akademik}}</p>
        </ion-card>
        <div class="img">
          <img
            src="https://bimbingan.api.unbin.ac.id/bukti/{{modalData.photo}}"
            alt=""
            srcset=""
          />
        </div>
        <ion-card>
          <ion-label>Guidance Code</ion-label>
          <p>{{modalData.kd_bimbingan}}</p>
        </ion-card>
        <ion-card>
          <ion-label>Description</ion-label>
          <p>{{modalData.keterangan}}</p>
        </ion-card>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
